<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - GitHub User Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

    <!-- Black Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">GitHub User Search</a>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container mt-4">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="container mt-5 mb-3 text-muted">
        <small>Submitted by Mark Smith — Code Test</small>
    </footer>


</body>
</html>
